.create-card-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  // grid-template-rows: 40vh;
  justify-items: center;
  align-items: center;
}


.card-input{
  grid-column: 2/5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title{

  margin-bottom: 50px;
}


.form-container{
  display: flex;
  flex-direction: column;

}

.editor{
  margin-bottom: 5px;
  height: 400px;
}

.actions{
  align-self: center;
  margin-top: 80px;
  width: 80%;
  display: flex;
  justify-content: space-between
}
.button{
}


@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
