  <div *ngIf="deck" class="deck-overview-container">

    <h1 class="deck-title">{{deck.title}}</h1>
    <div class="deck-actions">
      <button class="deck-actions__edit">Edit</button>
      <button class="deck-actions__delete" (click)="onDelete()">Delete</button>
    </div>

    <div class="deck-content">
      <div class="deck-info">
        <p class="deck-info__id">id: {{deck.id}}</p>
        <p class="deck-info__card-count">cards: {{deck.numCards}}</p>
        <p class="deck-info__list-index">listIndex: {{deck.listIndex}}</p>
      </div>


      <div class="deck-content-actions">
        <button class="button button__create-card" (click)="onCreateCard()">Create card</button>
        <button class="button button__viewCards" (click)="onViewCards()">View cards</button>
        <button class="button button__study" (click)="onStudy()">Study</button>
      </div>

    </div>
  </div>
