<div class="show-roots">
  <h1>Roots</h1>
  <a routerLink="AddRoot" class="add-element-button">Add Root</a>
  <app-root-list-headers class="headers"></app-root-list-headers>
  <div class="roots__list">

    <app-root-list-item-rich
    *ngFor="let root of roots$ | async"
    [root]="root"
    class="roots__list-item-rich"
    (click)="onClick(root)">
    </app-root-list-item-rich>

      <!-- <app-root-list-item *ngFor="let root of roots$ | async" [root]="root"
      (click)="onClick(root)" class="roots__list-item"></app-root-list-item> -->
  </div>

</div>
