.show-roots{
  display: flex;
  flex-direction: column;
}
.page-title{
  margin-top: 5vw;
  margin-bottom: 5vw;
  margin-left: 10px;

  display: flex;
  align-items: center;
}
h1{
  margin: 0;
  font-family: 'Quicksand';
  font-weight: 400;
}
a{
  display: flex;
  align-items: center;
}
.add-button{
  margin-left: 20px;
  width: 24px;
  height: 24px;
  font-size: 24px;
  cursor: pointer;

  color: #D4BB79;
}

.roots{
  &__list{
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(8, 1fr);
    // grid-template-columns: 45%;
    // justify-content: center;
  }
  &__list-item{
    background-color: white;
    height: 75px;
    min-width: 250px;
    border: 1px solid #876E2B;
    border-radius: 5px;

    &:hover{
      transition: transform .2s;
      transform: scale(1.03);
    }
  }
  &__list-item-rich{
    grid-column: 1/9;
    background-color: white;
    height: 75px;
    min-width: 320px;
    max-width: 1330px;
    // max-width: 320px; // ta bort
    // border: 1px solid #876E2B;
    border-bottom: 1px solid #969696;
    // border: 1px solid #876E2B;
    // border-radius: 5px;

    &:hover{
      transition: transform .2s;
      transform: scale(1.03);
    }
  }
  &__list-item-rich:last-of-type{
    border: none;
  }
}

.headers{
  display:none;
}

@media (min-width:1024px){
  .headers{
    display:flex;
    padding: 0 54px;
    max-width: 1330px;
  }
  .page-title{
    margin-bottom: 60px;
    margin-left: 54px;
  }
  h1{
    font-size: 36px ;
  }
  .add-button{
    margin-left: 20px;
    width: 36px;
    height: 36px;
    font-size: 36px;
  }

  .roots__list{
    padding: 0 54px;
    &__list-item-rich{
    }
  }
}
@media (min-width:1440px){
  h1{
    font-size: 48px;
  }
  .add-button{
    margin-left: 30px;
    width: 48px;
    height: 48px;
    font-size: 48px;
  }
}
