main{
  width: 100%;
  padding: 30px;
  box-sizing: border-box;

  display: grid;
  justify-content: center;
  row-gap: 30px;
}


h1{
  margin: 0;
  // margin-top: 40px;
  padding: 0;
  font-family: 'Quicksand';
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  // line-height: 100%;
  color:white;
}

.info-card{
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  min-height: 410px;
  height: max-content;
  max-width:max-content;
}

@media (min-width: 768px){
  main{
    // height: 100vh;
  }
  h1{
    font-size: 32px;
  }
  .info-card{
    min-height:auto;
    height: 330px;
    width: 600px;
    max-width:none;
    border-radius: 20px;
  }
}

@media (min-width: 1024px){
  h1{
    font-size: 40px;
  }
  .info-card{
    width: 800px;
    height: 380px;
  }
}

@media (min-width: 1440px){
  h1{
    font-size: 48px;

  }
}
