<!-- <p>log-in works!</p> -->
<!-- <div class="g-signin2" data-onsuccess="onSignIn" data-longtitle="true"></div> -->

<div class="login-text">
  <p>Sign in to</p>
  <h1>WiseLoft</h1>
</div>
<div class="provider-buttons">
  <button (click)="loginWithGoogle()" class="login-btn">
    Google
  </button>
  <button (click)="loginWithGoogle()" class="login-btn">
    Facebook
  </button>
  <button (click)="loginWithGoogle()" class="login-btn">
    LinkedIn
  </button>
</div>


<!-- socialAuthServive.auth
<div *ngIf="socialAuthServive.authState | async as socialUser">
  <p>Hello, {{socialUser.name}}!</p>
  <p>Your email: {{socialUser.email}}</p>
  <button mat-raised-button (click)="logout()">Logout</button>
</div> -->
