<!-- <main>
  <div class="triangle"></div>
</main> -->
<main>

  <div class="triangle triangle-1">
    <svg height="64" width="64" >
      <polygon points="10,20 32,64 52,20" class="star-triangle" />
      <polygon points="10,20 32,52 52,20" class="background-triangle" />
    </svg>
  </div>
  <div class="triangle triangle-2">
    <svg height="64" width="64" >
      <polygon points="0,0 32,64 64,0" class="star-triangle" />
      <polygon points="0,0 32,52 64,0" class="background-triangle" />
    </svg>
  </div>
  <div class="triangle triangle-3">
    <svg height="64" width="64" >
      <polygon points="0,0 32,64 64,0" class="star-triangle" />
      <polygon points="0,0 32,52 64,0" class="background-triangle" />
    </svg>
  </div>
</main>
