<app-header></app-header>
<div class="explore-root-overview" *ngIf="root$|async as root">
  <h1>{{root.title}}</h1>
  <!-- <div class="intro">
    text
  </div> -->
  <div class="download" (click)="onDownload()">Download</div>

  <div class="chapters">

    <app-explore-chapter-item *ngFor="let chapter of chapters$|async" class="chapter" [chapter]="chapter" (click)="onChapterClick(chapter)"></app-explore-chapter-item>
  </div>
  <div class="nodes" *ngIf="nodes$|async as nodes">
    <app-node-tree [nodes]="nodes" [rowLength]="3" [useDefaultBackground]="true"></app-node-tree>
    <!-- <app-nodes-root-overview [nodes]="nodes" (onNodeClick)="onNodeClick($event)"></app-nodes-root-overview> -->
  </div>

  <div *ngIf="deck" class="deck-content">
    <div *ngFor="let card of cards" class="card" >
      <app-card [card]="card"></app-card>
    </div>
  </div>
  <div *ngIf="explain" class="explain-content">
    <app-quill-show [content]="explainText" class="quill"></app-quill-show>
  </div>
</div>
