
.edit-explain-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  // grid-template-rows: 40vh;
  justify-items: center;
  align-items: center;
}

.explain-input{
  grid-column: 2/5;
}

.form-container{
  display: flex;
  flex-direction: column;
}

.inputField{
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  margin-bottom: 40px;
}

.title-input{
  align-self: center;
  width: 200px;
  margin-bottom: 20px;
}

.editor{
  height: 300px;
  align-self: stretch;
}

.button{
  align-self: center;
}


@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
