.explore{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filter{
  align-self: stretch;
}

.roots{
  margin-top: 200px;

  display: grid;
  grid-template-columns: min-content min-content min-content;
  gap: 20px;
}
.root{
  width: 423px;
  height: 100px;
}
