.chapter-conatiner{
  cursor: pointer;
  margin-top: 15px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;

  height: 60px;
  width: 700px;
  display: flex;
  align-items: center;



}

.chapter-conatiner-expanded{
  cursor: pointer;
  margin-top: 15px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;

  height: 230px;
  width: 700px;

  display: grid;
  grid-template-rows: 60px auto 40px;
  align-items: center;
  row-gap: 15px;

  z-index: 0;
}

.chapter-content{
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}

.action-buttons{
  align-self: end;
  display: flex;
  column-gap: 5px;
}

.chapter-button{
  width: auto;
  border: 1px solid black;
  z-index: 1;
  // position : absolute
}
