<div *ngIf="chapter && !expand" class="chapter-conatiner" (click)="expand = !expand">
    <h1>{{chapter.title}}</h1>
</div>

<div *ngIf="chapter && expand" class="chapter-conatiner-expanded" (click)="expand = !expand">
    <h1>{{chapter.title}}</h1>
    <div class="chapter-content">
      <p>total cards: {{chapter.data.totalCards}}</p>
      <p>new: {{chapter.data.numNewCards}}</p>
      <p>due: {{chapter.data.numDueCards}}</p>
      <p>nodes: {{chapter.data.numNodes}}</p>

    </div>
    <div class="action-buttons">
      <a class="button chapter-button" (click)="onDelete()">Delete</a>
      <a class="button chapter-button" (click)="onEdit()">Edit</a>
      <a class="button chapter-button" (click)="onStudy()">Study</a>
      <a class="button chapter-button" (click)="onPlayground()">playground</a>
      <a class="button chapter-button" (click)="onStudyDue()">Study due</a>
    </div>
</div>
