:Host{
  width: 100%;
  display: grid;

  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.root-overview-container{
  grid-column: 2/5;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.root-content{
  margin-top: 30px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.root-info{
  grid-column: 1/3;
  margin-bottom: 30px;
  &__id{
    grid-column: 1/2;
  }
}

.chapters-title{
  margin-top: 30px;
}



.chapter-list{
  display: flex;
  flex-direction: column;
  display:inline-block;
}

.action-buttons{
  display: flex;
  column-gap: 10px;
  &__edit{
    background-color: white;
    border: none;
    cursor: pointer;
  }
  &__delete{
    background-color: white;
    border: none;
    cursor: pointer;
  }
}
