$main-color: #021E39;


.main-display{
  background-color: $main-color;

  width: 100%;
  height: 480px;
  // height: 40vh;

  display: flex;
  justify-content: center;
  align-items: start;

  &__home{
    margin-top: 100px;
  }
  &__roots{
    margin-top: 100px;
  }
  &__chapters{
    margin-top: 100px;
  }
}
