.chapter-list-item{
  cursor: pointer;
  // margin-top: 15px;
  padding: 20px;
  border: 1px solid #876E2B;
  // border-radius: 20px;
  border-radius: 5px;
  background-color: white;

  height: 60px;

  width: 200px;

  display: flex;

  align-items: center;
}

@media (min-width:500px){
  .chapter-list-item{
    width: 400px;
  }
}
@media (min-width:1000px){
  .chapter-list-item{
    width: 650px;
  }
}
