
$main-color: #fff;
$text-color: black;
// $main-color: #D4BB79;

mat-toolbar{
  min-height: 65px;
  min-width: 280px;
  width: 100%;
  // background-color: $main-color;
  color: $text-color;
  position: relative;
}
a{
  color: $text-color;

  font-family: 'Quicksand';
  font-weight: 300;
}
.logo{
  display: flex;
  align-items: center;
  img{
    width: 50px;
    justify-self: end;
    // margin-left: 40px;
  }
  a{
    margin-left: 20px;
    color: inherit;
    font-size: 36px;
  }
}

.header-row{
  min-height: 64px;
  mat-icon{
    margin-left: auto;
    cursor: pointer;
  }
}

.header-menu{
  top: 60px;
  position: absolute;
  z-index: 10;
  display: flex;
  // min-height: 20vh;
  min-height: 150px;
  // row-gap: 20px;
  flex-direction: column;
  // justify-content: center;
  color: $text-color;
  // background-color: $main-color;
}
.user{
  margin-right: 10px;
  margin-left: auto;
  display: flex;

  &__name{
    color: $text-color;
    font-size: 16px;
  }
  &__log-in{
    cursor: pointer;
    color: $text-color;
    font-size: 20px;
  }
  &__log-out{
    cursor: pointer;
    color: $text-color;
    font-size: 20px;
  }
}

@media(min-width:900px){
  .logo a{
  }
}

.actions{
  justify-self: start;
  display: flex;
  a{
    color: $text-color;
    margin-left: 30px;
    font-size: 20px;
  }
}

