<main>
  <h1>Explanations</h1>

  <div class="explain">
    <h1>Explanation</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Adipiscing vitae scelerisque risus, mattis sodales purus.
      Imperdiet lacinia velit duis cursus.
    </p>
  </div>

  <p>
    Active Recall is important,
    but worthless if you don’t
    understand the information.
  </p>
  <p>
    Using exmplenation cards is
    very importans to explain the
    content of the flashcards berfore trying to learn them.
  </p>

</main>
