<div class="header">
  <div class="logo">
    <img src="../../../assets/icons/Header-icon.svg" alt="" class="header-icon">
    <a class="header-button__logo" routerLink="/">WiseStar</a>
  </div>

  <div class="actions">
    <a class="action" routerLink="">HOME</a>
    <a class="action" routerLink="/myContent">MY CONTENT</a>
  </div>

  <div class="user">
    <a class="user__log-in" *ngIf="auth == null" (click)="onLogin()">Log In</a>
    <div class="user__name" *ngIf="auth != null">Welcome {{auth.name}}</div>
    <a class="user__log-out" *ngIf="auth != null" (click)="logout()" >Log Out</a>
  </div>
</div>
