
$main-color: #D4BB79;

.header{
  height: 64px;
  width: 100vw;
  background-color: $main-color;
  font: white;

  display: grid;
  grid-template-columns: min-content 1fr 1fr;
  align-items: center;
}

.logo{
  display: flex;
  align-items: center;
  img{
    width: 50px;
    justify-self: start;
    margin-left: 40px;
  }
  a{
    margin-left: 20px;
    color: white;
    font-size: 36px;
  }
}

.actions{
  justify-self: start;
  display: flex;
  a{
    color: white;
    margin-left: 30px;
    font-size: 20px;
  }
}

.user{
  margin-right: 70px;
  justify-self: end;
  display: flex;

  &__name{
    color: white;
  }
  &__log-in{
    cursor: pointer;
    color: white;
    font-size: 20px;
  }
  &__log-out{
    cursor: pointer;
    color: white;
    margin-left: 30px;
    font-size: 20px;
  }
}


