<div class="sevenColLayout">

  <a class="header-button__logo" routerLink="/">Flard</a>
  <div class="action-field">
    <!-- <a class="header-button__action" routerLink="/">Home</a> -->
    <a class="header-button__action" routerLink="/myRoots">My Roots</a>
    <a class="header-button__action" routerLink="/myDecks">My Decks</a>
    <a class="header-button__action" routerLink="/createDeck">New Deck</a>
  </div>
  <div class="user-field">
    <a class="header-button__log-in" *ngIf="auth == null" routerLink="/login">Log In</a>

    <div class="user-name" *ngIf="auth != null">Welcome {{auth.name}}</div>

    <a class="header-button__log-out" *ngIf="auth != null" (click)="logout()" >Log Out</a>
  </div>
</div>
