// .header-container{
//   // background-color: grey;
//   width: 100vw;
//   height: 50px;
//   margin-bottom: 20px;
//   padding: 5px;


//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }
$main-color: #021E39;

.sevenColLayout{
  height: 64px;
  width: 100vw;
  background-color: $main-color;
  font: white;
}

.action-field{
  display: flex;
  grid-column: 3/5;
}

.user-field{
  // margin-right: 40px;
  grid-column: 5/7;
  justify-self: end;
  display: flex;
}
.user-name{
  color: white;

}
.header-button{
  // margin-left: 20px;
  color: white;
  &__logo{
    color: white;
    font-size: 36px;
    grid-column: 2;
    justify-self: start;
  }
  &__action{
    color: white;
    margin-left: 30px;
    font-size: 20px;
  }
  &__log-in{
    cursor: pointer;
    color: white;
    font-size: 20px;
  }
  &__log-out{
    cursor: pointer;
    color: white;
    margin-left: 30px;
    font-size: 20px;
  }
}

