<div *ngIf="isRootsState()">
  <p>My Content Actions</p>
  <app-side-bar-item (click)="setAction('Roots')" [item]="{icon:'Action2-black.svg', name:'Roots'}" [showActive]="true"
  [backgroundActive]="backgroundActive('Roots')" [optionsAvailable]="false"></app-side-bar-item>
  <!-- <app-side-bar-item (click)="setAction('StudyDue')" [item]="{icon:'Action2-black.svg', name:'Study Due'}" [showActive]="true"
  [backgroundActive]="backgroundActive('StudyDue')" [optionsAvailable]="false"></app-side-bar-item> -->
</div>

<div *ngIf="isChaptersState()">
  <p>Root Actions</p>
  <!-- <app-side-bar-item (click)="setAction('Introduction')" [item]="{icon:'Action2-black.svg', name:'Introduction'}" [showActive]="true"
  [backgroundActive]="backgroundActive('Introduction')" [optionsAvailable]="false"></app-side-bar-item> -->
  <app-side-bar-item (click)="setAction('Chapters')" [item]="{icon:'Action2-black.svg', name:'Chapters'}" [showActive]="true"
  [backgroundActive]="backgroundActive('Chapters')" [optionsAvailable]="false"></app-side-bar-item>
  <!-- <app-side-bar-item (click)="setAction('StudyDue')" [item]="{icon:'Action2-black.svg', name:'Study Due'}" [showActive]="true"
  [backgroundActive]="backgroundActive('StudyDue')" [optionsAvailable]="false"></app-side-bar-item> -->
</div>

<div *ngIf="isNodesState()">
  <p>Chapter Actions</p>
  <app-side-bar-item (click)="setAction('Nodes')" [item]="{icon:'Action2-black.svg', name:'Nodes'}" [showActive]="true"
  [backgroundActive]="backgroundActive('Nodes')" [optionsAvailable]="false"></app-side-bar-item>
</div>

<div *ngIf="isExplainState()">
  <p>Explain Actions</p>
  <div *ngIf="isEdit">
    <app-side-bar-item (click)="setAction('Overview')" [item]="{icon:'Action2-black.svg', name:'Overview'}" [showActive]="true"
    [backgroundActive]="backgroundActive('Overview')" [optionsAvailable]="false"></app-side-bar-item>
    <app-side-bar-item (click)="setAction('Study')" [item]="{icon:'Action2-black.svg', name:'Study'}" [showActive]="true"
    [backgroundActive]="backgroundActive('Study')" [optionsAvailable]="false"></app-side-bar-item>
  </div>

  <div *ngIf="!isEdit">
    <app-side-bar-item (click)="setAction('Study')" [item]="{icon:'Action2-black.svg', name:'Study'}" [showActive]="true"
    [backgroundActive]="backgroundActive('Study')" [optionsAvailable]="false"></app-side-bar-item>
  </div>
</div>

<div *ngIf="isDeckState()">
  <p>Deck Actions</p>
  <div *ngIf="isEdit">
    <app-side-bar-item (click)="setAction('Overview')" [item]="{icon:'Action2-black.svg', name:'Overview'}" [showActive]="true"
    [backgroundActive]="backgroundActive('Overview')" [optionsAvailable]="false"></app-side-bar-item>
    <app-side-bar-item (click)="setAction('Cards')" [item]="{icon:'Action2-black.svg', name:'Cards'}" [showActive]="true"
    [backgroundActive]="backgroundActive('Cards')" [optionsAvailable]="false"></app-side-bar-item>
    <app-side-bar-item (click)="setAction('AddCard')" [item]="{icon:'Action2-black.svg', name:'Add Card'}" [showActive]="true"
    [backgroundActive]="backgroundActive('AddCard')" [optionsAvailable]="false"></app-side-bar-item>
    <app-side-bar-item (click)="setAction('Study')" [item]="{icon:'Action2-black.svg', name:'Study'}" [showActive]="true"
    [backgroundActive]="backgroundActive('Study')" [optionsAvailable]="false"></app-side-bar-item>
  </div>

  <div *ngIf="!isEdit">
    <app-side-bar-item (click)="setAction('Study')" [item]="{icon:'Action2-black.svg', name:'Study'}" [showActive]="true"
    [backgroundActive]="backgroundActive('Study')" [optionsAvailable]="false"></app-side-bar-item>
  </div>
</div>
