.show-cards{
  margin-top: 20px;
  padding: 15px;
  display: grid;
  align-items: center;
  gap: 15px;
  max-width: 1500px;
}

// .card{
//   padding: 10px;
//   border: 1px solid #876E2B;
//   border-radius: 30px;
//   height: 230px;
//   cursor: pointer;
// }

.card{
  width: 100%;
  height: 230px;
}

@media (min-width:1000px){
  .show-cards{
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width:1500px){
  .show-cards{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
