main{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 16px;
  padding: 0 24px;
  align-content: flex-end;
  justify-items: center;
}
h3{
  font-size: 12px;
  margin: 0;
}

.title{
  justify-self: start;
}

.status{
  grid-column: 3/5;
}

.new{
  grid-column: 5;
}
.due{
  grid-column: 6;
}
.user{
  grid-column: 8;
  justify-self: end;
}

@media screen and (min-width:1440px){
.status{
  grid-column: 4;
}
}
