.playground-templates{
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  // align-content: center;
  // justify-items: center;
  // height: 100%;
}
.templates{
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.template{
  height: 100px;
  width: 100px;
  // border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  &:hover{
    transition: transform .2s;
    transform: scale(1.03);
  }

  display: flex;
  align-items: center;
  justify-content: center;
}

