<app-header class="header" [backgroundColor]="'#929ADE'"></app-header>
<main>
  <app-star-background></app-star-background>

  <div class="content">
    <h1>
      Study the way you were
      <br>
      supposed to.
    </h1>
    <app-home-austro-circle class="image"></app-home-austro-circle>

    <a routerLink="/login">
      <p>Sign up for free</p>
    </a>

    <p class="description">
      Create your own study map and<br>
      learn by using the most efficient<br>
      techniques
    </p>
    <!-- <app-star-scroll-button class="star-button" (click)="scroll(target)"></app-star-scroll-button> -->
  </div>

  <div #target>

    <app-home-description></app-home-description>
  </div>
</main>
