
<!-- <div class="show-nodes" *ngIf="(nodes$ | async) && nodes.length > 0"> -->
  <div class="show-nodes" >
    <div class="page-title">
      <h1>Nodes</h1>
      <a routerLink="AddNode">
        <mat-icon class="add-button">control_point</mat-icon>
      </a>
    </div>

    <div class="nodes" *ngIf="(nodes$|async) as nodes">

      <div class="node__list" cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListDisabled]="!orderMode">
        <button *ngIf="!orderMode" class="order-button" (click)="orderMode = !orderMode">change order</button>
        <button *ngIf="orderMode" class="order-button" (click)="orderMode = !orderMode">lock order</button>

        <app-node-list-headers class="headers"></app-node-list-headers>
        <app-node-list-item-rich
        *ngFor="let node of nodes"
        [node]="node"
        class="node__item"
        (click)="onClick(node)"
        cdkDrag></app-node-list-item-rich>
      </div>

      <div class="node-tree" *ngIf="nodes.length > 0">
        <app-node-tree
        [rowLength]="3"
        [nodes]="nodes"
        (Clicked)="onClick($event)"></app-node-tree>
      </div>
    </div>
  </div>
