<div class="show-cards">
    <app-show-card *ngFor="let card of cards$ | async" (onClick)="onClick(card)" [card]="card"></app-show-card>
</div>

<div style="display: flex; justify-content:center;">
  <div class="routing-buttons">
    <a class="routing-button" (click)="onNav('Overview')">Overview</a>
    <a class="routing-button" (click)="onNav('Study')">Study</a>
    <a class="routing-button routing-button-active" (click)="onNav('Cards')">Cards</a>
    <a class="routing-button" (click)="onNav('AddCard')">Add Card</a>
  </div>
</div>
