:host{
  width: 100%;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.create-chapter-container{
  grid-column: 2/5;
  justify-self: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-chapter-title{
  margin-bottom: 30px;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputField{
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  margin-bottom: 40px;
}

.create-chapter-button{

  border: 1px solid black;
  padding: 5px;

  height: 20px;
  border-radius: 10px;

}

.button{

  &__create-chapter{
    grid-column: 2;
    grid-row: 2;
    // background-color:#4ef18f;
    background-color: #fff;
    justify-self: center;
  }
}
