
<p [ngStyle]="{'margin-bottom': showAll? '12px':'1px'}">Chapter</p>
<div *ngFor="let chapter of chapters">
  <app-side-bar-item [item]="getSideBarItem(chapter)" *ngIf="shouldShow(chapter)" (onClick)="onClick(chapter)"></app-side-bar-item>
</div>

<div *ngIf="editMode" class="chapter add-chapter">
  <app-side-bar-item
  [item]="{icon:'Add-item.svg', name:'Add new Chapter'}"
  *ngIf="showAll"
  (click)="onAdd()"
  [showActive]="true"
  [backgroundActive]="addIsClicked"></app-side-bar-item>
</div>
