<router-outlet></router-outlet>


<!-- <div class="action-content">


  <div *ngIf="showDefault()">
    showDefault
  </div>

  <app-show-roots *ngIf="showMyContentOverview()"></app-show-roots>
  <app-add-root *ngIf="showAddRoot()"></app-add-root>
  <app-show-chapters *ngIf="showChapters()"></app-show-chapters>
  <app-add-chapter *ngIf="showAddChapter()"></app-add-chapter>
  <app-show-nodes *ngIf="showNodes()"></app-show-nodes>
  <app-show-cards *ngIf="showCards()"></app-show-cards>
  <app-add-node *ngIf="showAddNode()"></app-add-node>
  <app-explain-overview *ngIf="showExplainOverview()"></app-explain-overview>
  <app-deck-overview *ngIf="showDeckOverview()"></app-deck-overview>
  <app-add-card *ngIf="showAddCard()"></app-add-card>
  <app-study-node *ngIf="showStudy()"></app-study-node>
</div> -->
