<div class="login">
  <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" class="form">
    <label for="chk" aria-hidden="true">{{isLoginMode ? 'Login' : 'Sign Up'}}</label>
      <input
      *ngIf="!isLoginMode"
      class="center"
      type="text"
      id="username"
      ngModel
      placeholder="Username"
      name="username"
      required>
      <input
      class="center"
      type="email"
      id="email"
      ngModel
      placeholder="Email"
      name="email"
      required
      email
      >
      <input
      class="center"
      type="password"
      id="password"
      ngModel
      placeholder="Password"
      name="password"
      required
      minlength="8">
    <div class="center buttons">
      <button type="submit" [disabled]="!authForm.valid">{{ isLoginMode ? 'Login' : 'Sign Up'}}</button>
      <a (click)="onSwitchMode()" type="button">{{isLoginMode ? 'Sign Up' : 'Login'}}</a>
    </div>
  </form>
  <div *ngIf="serverErrorMessages">
    {{serverErrorMessages}}
  </div>
</div>
