$main-color: #021E39;

.sevenColLayout{
  // height: 64px;
  width: 100vw;
  background-color: $main-color;
  font: white;
}

.home-main-content{
  grid-column: 4;
  align-self: flex-start;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-title{
  color: white;
  margin-bottom: 30px;
}

.home-content{
  color: white;
  display: flex;
  justify-items: center;
  align-items: center;
  column-gap: 50px;
}

