<div class="chapter-study-container" *ngIf="chapter">
  <h1>{{chapter.title}}</h1>

  <div class="nodes" style="position:relative">


    <div *ngFor="let node of chapter.nodes; let i = index">
      <app-explain-node *ngIf="node.type == 'explain'" [explain]="node"></app-explain-node>
      <app-deck-node *ngIf="node.type == 'deck'" [deck]="node"></app-deck-node>
    </div>
    <!-- <app-deck-node *ngFor="let node of chapter.nodes; let i = index" [deck]="node"></app-deck-node> -->

    <!-- <svg style="position:absolute; left:0; top:0;" width="100%" height="100%">

      <line *ngFor="let node of chapter.nodes; let i = index" x1="25" y1="25" x2="150" y2="25" stroke="black" />
    </svg> -->
  </div>




</div>



<!-- <div class="nodes">
  <div [id]="'Node' + i" *ngFor="let node of chapter.nodes; let i = index">{{i}}</div>
</div> -->
<!-- <div class="rows">

  <div class="row">
    <div id="start">1</div>
    <div>1</div>
    <div>1</div>
    <div>1</div>
    <div>1</div>
    <div>1</div>
    <div>1</div>
  </div>
  <div class="row">
    <div>1</div>
    <div>1</div>
    <div>1</div>
    <div>1</div>
    <div>1</div>
    <div>1</div>
    <div id="end">1</div>
  </div>

  <svg style="position: absolute; left: 0; top: 0; width: 100%; height: 100%">
    <defs>
      <marker
        id="arrow"
        markerWidth="10"
        markerHeight="10"
        refX="5"
        refY="3"
        orient="auto"
        markerUnits="strokeWidth"
        viewBox="0 0 20 20"
      >
        <path d="M0,0 L0,6 L9,3 z" fill="#f00" />
      </marker>
    </defs>

    <line
      [attr.x1]="startX"
      [attr.y1]="startY"
      [attr.x2]="endX"
      [attr.y2]="endY"
      stroke="#f00"
      stroke-width="5"
      marker-end="url(#arrow)"
    />
  </svg>
</div> -->
<!-- <table >

  <tr>
    <td>0</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
    <td>6</td>
    <td>7</td>
    <td >8</td>
    <td id="end">9</td>
  </tr>

  <tr>
    <td id="start">0</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
    <td>6</td>
    <td>7</td>
    <td>8</td>
    <td>9</td>
  </tr>

<svg style="position: absolute; left: 0; top: 0; width: 100%; height: 100%">
  <defs>
    <marker
      id="arrow"
      markerWidth="10"
      markerHeight="10"
      refX="5"
      refY="3"
      orient="auto"
      markerUnits="strokeWidth"
      viewBox="0 0 20 20"
    >
      <path d="M0,0 L0,6 L9,3 z" fill="#f00" />
    </marker>
  </defs>

  <line
    [attr.x1]="startX"
    [attr.y1]="startY"
    [attr.x2]="endX"
    [attr.y2]="endY"
    stroke="#f00"
    stroke-width="5"
    marker-end="url(#arrow)"
  />
</svg>
</table> -->

<!-- <div style="position:absolute; left:0; top:0; width: 100px; height: 50px; background:red;"></div>
<div style="position:absolute; left:250px; top:150px; width: 100px; height: 50px; background: blue;"></div>

<svg style="position:absolute; left:0; top:0;" width="300" height="300">
    <line x1="100" y1="50" x2="250" y2="150" stroke="black"/>
</svg> -->
