.show-roots{
  display: flex;
  flex-direction: column;
}

h1{
  align-self: center;

  margin-top: 80px;
  margin-bottom: 110px;
}

.roots{
  &__list{
    display: grid;
    gap: 15px;
    justify-content: center;
  }
  &__list-item{
    background-color: white;
    height: 150px;
    border: 1px solid #876E2B;
    border-radius: 5px;

    &:hover{
      transition: transform .2s;
      transform: scale(1.03);
    }
  }
}

@media (min-width:1000px){
  .roots__list{
    display: grid;
    grid-template-columns: 45% 45%;
  }
}
