<div class="edit-card">
  <div class="card">
    <div class="card__content">
      <app-quill-edit *ngIf="showQuestion" [content]="question" (onContentChange)="onContentChange($event)"></app-quill-edit>
      <app-quill-edit *ngIf="!showQuestion" [content]="answer" (onContentChange)="onContentChange($event)"></app-quill-edit>
    </div>
    <div *ngIf="showQuestion" class="card__switch not-select" (click)="onChangeContent()"> Show Answer</div>
    <div *ngIf="!showQuestion" class="card__switch not-select" (click)="onChangeContent()"> Show Question</div>
  </div>

  <div class="buttons">
    <button type="submit" class="button edit-card-button" (click)="onSave()">Save</button>
    <button type="submit" class="button edit-card-button" (click)="onCancel()">Cancel</button>
  </div>
</div>
