.study-cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 0 15px;
}

.card-container{
  margin-top: 70px;
  width: 100%;
  min-width: 280px;
  max-width: 700px;
  height: 300px;
}

.answer-buttons{
  margin-top: 50px;
  display: flex;
  align-items: center;
  row-gap: 10px;
}

.button__next{
  min-width: 93px;
  width: 100px;
}
.button{
  width: min-content;
}

.no-due{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.no-due.complete{
  margin-top: 50px;
}


.skip-wait{
  margin-top: 5px;
  background-color: inherit;
  border: none;
  color: grey;
  cursor: pointer;
}

@media (min-width:375px){
  .card-container{
    min-width: 350px;
  }
  .answer-buttons{
    column-gap: 5px;
  }
}


@media (min-width:425px){
  .card-container{
    min-width: 350px;
  }
  .answer-buttons{
  }
}


@media (min-width:900px){
  .card-container{
    height: 400px;
  }
  .answer-buttons{
  }
}
