:host{
  height: 200px;
}

p{
  font-size: 20px;
}
h1{
  font-size: 36px;
}

.login-text{
  margin-bottom: 75px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.provider-buttons{
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
  gap: 15px;
}

.login-btn{
  cursor: pointer;

  margin-left: 35px;
  margin-right: 35px;
  background-color: white;
  font-size: 20px;
  border: 1px solid black;
  width: 205px;
  height: 40px;
}
