<div *ngIf="isRootsState()">
  <p>My Content Actions</p>
  <app-side-bar-item [item]="{icon:'Explain-black.svg', name:'Overview'}" [showActive]="true"></app-side-bar-item>
</div>

<div *ngIf="isChaptersState()">
  <p>Root Actions</p>
  <app-side-bar-item [item]="{icon:'Explain-black.svg', name:'Introduction'}" [showActive]="true"></app-side-bar-item>
  <app-side-bar-item [item]="{icon:'Explain-black.svg', name:'Chapters'}" [showActive]="true"></app-side-bar-item>
</div>

<div *ngIf="isNodesState()">
  <p>Chapter Actions</p>
  <app-side-bar-item [item]="{icon:'Explain-black.svg', name:'Nodes'}" [showActive]="true"></app-side-bar-item>
</div>

<div *ngIf="isExplainState()">
  <p>Explain Actions</p>
  <app-side-bar-item [item]="{icon:'Explain-black.svg', name:'Overview'}" [showActive]="true"></app-side-bar-item>
</div>

<div *ngIf="isDeckState()">
  <p>Deck Actions</p>
  <app-side-bar-item [item]="{icon:'Explain-black.svg', name:'Overview'}" [showActive]="true"></app-side-bar-item>
  <app-side-bar-item [item]="{icon:'Explain-black.svg', name:'Cards'}" [showActive]="true"></app-side-bar-item>
  <app-side-bar-item [item]="{icon:'Explain-black.svg', name:'Add Card'}" [showActive]="true"></app-side-bar-item>
</div>
