<main>
  <h1>Active Recall</h1>

  <div class="card">
    <p *ngIf="!showAnswer">
      Is using Flashcards a good method of implementing active learning?
    </p>
    <p *ngIf="showAnswer">
      Yes!
    </p>
    <div *ngIf="!showAnswer" class="question-answer-switch not-select" (click)="showAnswer = !showAnswer"> Show Answer</div>
    <div *ngIf="showAnswer" class="question-answer-switch not-select" (click)="showAnswer = !showAnswer"> Show Question</div>
  </div>

  <p>
    Studies show that actively
    recalling information is far more
    effective than just reading it
    mutliple times.
  </p>
  <p>
    Using Flashcards is a very good
    method of implementing active
    recall in your study sessions.
  </p>

</main>
