<main>
  <h1>Active Recall</h1>

  <div class="card">
    <p></p>
    <div class="question-answer-switch not-select"> Show Answer</div>
    <!-- <div class="question-answer-switch not-select" (click)="switchContent()"> Show Question</div> -->
  </div>

  <p>
    Studies show that actively
    recalling information is far more
    effective than just reading it
    mutliple times.
  </p>
  <p>
    Using Flashcards is a very good
    method of implementing active
    recall in your study sessions.
  </p>

</main>
