<!-- <div class="node-tree-container">
  <div class="node-list">
    <div *ngFor="let node of nodes">
      {{node.title}}
    </div>
  </div>
</div> -->

<!-- <div class="node-tree-container">
  <div class="node-list">
    <div *ngFor="let node of nodes$|async; let i = index">
      {{node.title}}
    </div>
  </div>
</div> -->

<div class="node-tree-container">
  <div class="node-list" *ngIf="nodes$|async">

    <div *ngFor="let row of rows" class="row"
    [ngStyle]="{'grid-template-columns': 'repeat('+ rowLength +', 1fr)'}">

      <div *ngFor="let node of row; let i = index" class="node-element">
        <!-- {{node.title}} -->
        <app-explain-node

          *ngIf="node.type == 'explain'"
          [explain]="node"
        ></app-explain-node>

        <app-deck-node

          *ngIf="node.type == 'deck'"
          [deck]="node"
        ></app-deck-node>
      </div>
    </div>
  </div>
</div>
