.node-tree-container{
}

.node-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.row{
  display: grid;
  justify-items: center;
  gap: 24px;

  .node-element::after{
    content: '';
    width: 10px;
    height: 2px;
    background-color: rgba(83, 83, 83, .5);
    position: absolute;
    right: -17px;
    top: 24px;
  }
  .node-element:last-of-type::after{
    content: '';
    width: 2px;
    height: 10px;
    background-color: rgba(83, 83, 83, .5);
    position: absolute;
    right: 23px;
    top: 58px;
  }
}

.row:nth-child(even){
  direction: rtl;
  .node-element::after{
    content: '';
    width: 10px;
    height: 2px;
    background-color: rgba(83, 83, 83, .5);
    position: absolute;
    right: 57px;
    top: 24px;
  }
  .node-element:last-of-type::after{
    content: '';
    width: 2px;
    height: 10px;
    background-color: rgba(83, 83, 83, .5);
    position: absolute;
    right: 24px;
    top: 58px;
  }
}

.row:last-of-type{
  .node-element:last-of-type::after{
    display: none;
  }
}

.node-element{
  position: relative;
}
