
<!-- <app-main-display page="home"></app-main-display>
<div class="home-container">
  <h1>What is WiseLoft?</h1>

</div> -->

<main>
  <div class="content">
    <div class="text">
      <h1>Study the correct way</h1>
      <p>
        Create your own flashcards trees and<br>
        study using the most efficient<br>
        techniques
      </p>
      <a routerLink="/login">Sign up for free</a>
    </div>
    <div class="images">
      <img class="astronaut" src="../../../assets/images/Astronaut.svg" alt="">
      <img class="star star1" src="../../../assets/images/Star 1.svg" alt="">
      <img class="star star2" src="../../../assets/images/Star 2.svg" alt="">
      <img class="star star3" src="../../../assets/images/Star 3.svg" alt="">
    </div>
  </div>
</main>
