
<!-- <div class="show-nodes" *ngIf="(nodes$ | async) && nodes.length > 0"> -->
<div class="show-nodes" >

  <div class="nodes" *ngIf="nodes$ | async as nodes">
    <div *ngFor="let node of nodes" class="line"
    [ngStyle]="{
      'grid-column': getLineColumn(node),
      'grid-row': getLineRow(node),
      'height': getLineHeight(node),
      'width': getLineWidth(node),
      'background-image': getLineBackground(node)}"></div>

    <div *ngFor="let node of nodes"
    class="circle-element"
    (click)="onClick(node)"
    [ngStyle]="{'grid-column': getColumn(node), 'grid-row': getRow(node)}">

      <app-explain-node
      class="node-element"
      *ngIf="node.type == 'explain'"
      [explain]="node"
      ></app-explain-node>

      <app-deck-node
      class="node-element"
      *ngIf="node.type == 'deck'"
      [deck]="node"
      ></app-deck-node>
    </div>

  </div>
</div>

<div style="display: flex; justify-content:center;">
  <div class="routing-buttons">
    <a class="routing-button" (click)="onNav('AddRoot')">Add Root</a>
    <a class="routing-button routing-button-active">Roots</a>
  </div>
</div>
