.quill-edit{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;

  border: 1px solid #876E2B;
  border-radius: 35px;
  overflow: hidden;
  background-color: white;
}
.editor{
  width: 100%;
  height: 100%;
  border: none;
}
