.main-display-home-container{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


:host{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  // grid-template-rows: 70% 30%;
  justify-items: center;
  align-items: center;
  // align-items: center;
  // gap: 10px;
  position: relative;
  overflow: hidden;
}

.home-text{
  // margin-top: 50px;
  grid-column: 1/5;
  color: white;

  h1{
    font-size: 48px;
    margin-bottom: 25px;
  }

  p{
    font-weight: 100;
    font-size: 24px;
  }
  button{
    cursor: pointer;

    margin-top: 20px;
    padding: 10px;

    border-radius: 10px;
    border: none;

    color: white;
    background-color: #535DC5;

    font-weight: 100;
    font-size: 24px;
  }
}

.circle{
  margin-top: -20px;
  grid-column: 5/7;
}

.home-image{
  background-color: white;
  grid-column: 5/7;
  width: 330px;
  height: 215px;
  border-radius: 30px;
}

.wave{
  // grid-column: 1/7;

  // justify-self: end;

  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  line-height: 0;
  // background-size: cover;
  background: url(../../../../assets/images/wave.svg) repeat-x;

}
.wave:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../../../assets/images/wave.svg) repeat-x;
  background-size: cover;
  background-position: -1000px 0;
  opacity: .2;
  animation: waveOne 60s linear infinite;
}

@keyframes waveOne {
  50%{
    background-position: 0 0;
  }
}

.wave:after{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../../../assets/images/wave.svg) repeat-x;
  background-size: cover;
  background-position: 2732px 0;
  opacity: .3;
  animation: waveOne 120s linear infinite;
}
