<div class="circle-wrapper">

  <!-- <mat-icon svgIcon="card"></mat-icon> -->
  <!-- <i class="fa-solid fa-book"></i> -->

  <!-- <fa name="cog" animation="spin"></fa> -->


  <div class="middle-container">
  </div>

  <div class="nodes">
    <div class="node" [ngStyle]="{'transform': calculateDeg(1)}">
      <img src="../../../../assets/images/social-icon1.png" alt="">
    </div>
    <div class="node" [ngStyle]="{'transform': calculateDeg(2)}">
      <img src="../../../../assets/images/social-icon2.png" alt="">
    </div>
    <div class="node" [ngStyle]="{'transform': calculateDeg(3)}">
      <img src="../../../../assets/images/social-icon3.png" alt="">
    </div>
    <div class="node" [ngStyle]="{'transform': calculateDeg(4)}">
      <img src="../../../../assets/images/social-icon4.png" alt="">
    </div>
    <div class="node" [ngStyle]="{'transform': calculateDeg(5)}">
      <img src="../../../../assets/images/social-icon5.png" alt="">
    </div>
  </div>


</div>
