.card-overview-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.card-container{
  grid-column: 2/5;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-field{
  display: flex;
  align-items: center;
}

.button{
  width: 150px;

  cursor: pointer;
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.1em 0.1em 0;
  border:0.16em solid rgba(255,255,255,0);
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;

  &:hover{
    border-color: black;
  }


  &__edit{
    background-color:#4e9af1;
  }
  &__delete{
    background-color:#f14e4e;
  }
}
