<div class="side-bar">
  <div class="toogle">
    <app-study-toogle></app-study-toogle>
  </div>

  <div class="roots">
    <app-side-bar-roots
    [roots]="roots" [selectedRoot]="selectedRoot" [addIsClicked]="addRootIsClicked"
    (onRootClicked)="onRootClicked($event)" (onDeleteRoot)="onDeleteRoot($event)" (onAddRoot)="onAddRoot($event)"></app-side-bar-roots>
  </div>

  <hr class="chapters" [ngStyle]="{'margin-bottom': state > 1? '5px':'23px'}" *ngIf="state >= 1">
  <div class="chapters" *ngIf="selectedRoot">
    <app-side-bar-chapters
    [chapters]="chapters" [selectedChapter]="selectedChapter" [addIsClicked]="addChapterIsClicked"
    (onChapterClicked)="onChapterClicked($event)" (onDeleteChapter)="onDeleteChapter($event)" (onAddChapter)="onAddChapter($event)"></app-side-bar-chapters>
  </div>

  <hr class="nodes" *ngIf="state >= 2">
  <div class="nodes" *ngIf="selectedRoot && selectedChapter">
    <app-side-bar-nodes
    [nodes]="nodes" [selectedNode]="selectedNode" [addIsClicked]="addNodeIsClicked"
    (onNodeClicked)="onNodeClicked($event)" (onDeleteNode)="onDeleteNode($event)" (onAddNode)="onAddNode($event)"></app-side-bar-nodes>
  </div>

  <hr class="actions">
  <div class="actions">
    <app-side-bar-actions></app-side-bar-actions>
  </div>

  <hr class="info">
  <div class="info">
    info
  </div>
</div>
