
<p [ngStyle]="{'margin-bottom': selectedChapter? '1px':'12px'}">Chapter</p>
<div *ngFor="let chapter of chapters">
  <app-side-bar-item [item]="getSideBarItem(chapter)" *ngIf="!this.selectedChapter || chapter == this.selectedChapter"
  (onClick)="onClick(chapter)" (onDelete)="onDelete(chapter)" [iconWidth]="'15px'"></app-side-bar-item>
</div>

<div *ngIf="editMode" class="chapter add-chapter">
  <app-side-bar-item
  [item]="{icon:'Add-item.svg', name:'Add new Chapter'}"
  *ngIf="!selectedChapter"
  (click)="onAdd()"
  [showActive]="true"
  [backgroundActive]="addIsClicked" [optionsAvailable]="false"></app-side-bar-item>
</div>
