:host{
  width: 100%;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.my-decks-container{
  grid-column: 2/5;
  justify-self: center;

  display: flex;
  flex-direction: column;
  align-items: center;

}
.my-decks-title{
  margin-bottom: 30px;
}
.list-title{
}

.my-decks-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  column-gap: 50px;
}

.decks-container{

}

.deck-list{
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.btn{

  // border: 1px solid black;
  padding: 5px;

  height: 20px;
  border-radius: 10px;

}

.deck{
  margin-bottom: 5px;
}
