.show-nodes{
  display: flex;
  justify-content: center;

}
.nodes{
  margin-top: 100px;

  width: 250px;
  // background-color: red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.line{
  margin-top: 20px;
  margin-left: 32px;
  // align-self: center;
  // justify-self: center;
  background-color: #D7D7D7;
}

.circle-element{
  display: flex;
  justify-content: center;
}
