<main>
  <h1>{{root.title}}</h1>
  <app-item-status class="status" [status]="'In Progress'"></app-item-status>
  <!-- <p class="status">Done</p> -->
  <div class="card-count">
    <div class="new-cards">
      <p class="count-title">New</p>
      <p class="count">3333</p>
    </div>
    <div class="due-cards">
      <p class="count-title">Due</p>
      <p class="count">3333</p>
    </div>
  </div>
  <div class="user">
    <p>Chirstofer Bator</p>
    <!-- <img src="" alt=""> -->
  </div>
</main>
