<div class="add-node">

  <app-node-type-switch (nodeTypeChange)="onNodeChange($event)" class="switch"></app-node-type-switch>
  <app-add-deck *ngIf="nodeType == 'deck'"></app-add-deck>
  <app-add-explain *ngIf="nodeType == 'explain'"></app-add-explain>
</div>

<div style="display: flex; justify-content:center;">
  <div class="routing-buttons">
    <a class="routing-button" (click)="onNav('Overview')">Overview</a>
    <a class="routing-button" (click)="onNav('Nodes')">Nodes</a>
    <a class="routing-button routing-button-active" >Add Node</a>
  </div>
</div>
