.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

app-card-study{
  min-width: 280px;
  min-height: 200px;
  height: 100%;

  max-width: 500px;
  max-height: 200px;
}

p{
  margin: auto;
  width: max-content;
}


app-card-study-v2{
  max-width: 400px;
  height: 250px;
  min-width: 320px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
