
<div class="create-deck-container" *ngIf="deck">
  <h3 class="create-deck-title">Create Deck</h3>


  <form [formGroup]="deckForm" (ngSubmit)="onSubmit()" class="form">
    <div class="inputField">
      Title:
      <input type="text" id="title" formControlName="title">
    </div>

    <mat-form-field>
      <mat-label>Associated Explain</mat-label>
      <mat-select [(value)]="selectedExplain">
        <mat-option *ngFor="let explain of explainsInChapter" [value]="explain">
          {{explain.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button type="submit" class="button button__create-deck">Save</button>
  </form>



</div>
