<h1 class="page-title">Study</h1>

<div *ngIf="dueCardsAvailable" class="card-container">
  <h2 *ngIf="!showAnswer" class="field-type">Question</h2>
  <h2 *ngIf="showAnswer" class="field-type">Answer</h2>
  <div class="card">
    <div class="card-field" *ngIf="!showAnswer">
      <quill-view [content]="currentCard.question" format="html"></quill-view>
    </div>

    <div class="card-field" *ngIf="showAnswer">
      <quill-view [content]="currentCard.answer" format="html"></quill-view>
    </div>

    <button *ngIf="!showAnswer" class="button-show-answer" (click)="showAnswer = !showAnswer; showAnswerButtons = true">Show Answer</button>
    <button *ngIf="showAnswer" class="button-show-answer" (click)="showAnswer = !showAnswer">Show Question</button>
  </div>


</div>

<div *ngIf="showAnswerButtons && dueCardsAvailable" class="answer-buttons">
  <button  class="button button__next" (click)="onNext('button-a')">{{nextRecurrence[0]}}</button>
  <button  class="button button__next" (click)="onNext('button-b')">{{nextRecurrence[1]}}</button>
  <button  class="button button__next" (click)="onNext('button-c')">{{nextRecurrence[2]}}</button>
</div>

<div *ngIf="dueCardsAvailable == false" class="no-due">
  <div *ngIf="deck && deck.newCards > 0" class="no-due__content">
    <h3>You have finnished today recommended card limit</h3>
    <p>This deck stil contains {{deck.newCards}} unlearned cards. Come back tomorrow for more learning</p>
  </div>

  <div *ngIf="deck && (deck.finnished || deck.newCards == 0)" class="no-due__content">
    <h3>Congratulations you have iterated through all cards in this deck</h3>
    <p>Press 'next' to continue this course</p>
    <button class="button" (click)="onContinueStudy()">Next</button>
  </div>
</div>
