<div class="circle-wrapper">

  <!-- <mat-icon svgIcon="card"></mat-icon> -->
  <!-- <i class="fa-solid fa-book"></i> -->

  <!-- <fa name="cog" animation="spin"></fa> -->


  <div (click)="onMiddleClicked()" class="middle-container">
    <img [src]="middleSource" alt="">
  </div>

  <div class="nodes">
    <div (click)="onClick(1)" class="node" [ngStyle]="{'transform': calculateDeg(1)}">
      <img [ngStyle]="{'background':getBackground(1)}" src="../../../../assets/icons/Deck-orange.svg" alt="">
    </div>
    <div (click)="onClick(2)" class="node" [ngStyle]="{'transform': calculateDeg(2)}">
      <img [ngStyle]="{'background':getBackground(2)}" src="../../../../assets/icons/Explain-orange.svg" alt="">
    </div>
    <div (click)="onClick(3)" class="node" [ngStyle]="{'transform': calculateDeg(3)}">
      <img [ngStyle]="{'background':getBackground(3)}" src="../../../../assets/icons/Deck-orange.svg" alt="">
    </div>
    <div (click)="onClick(4)" class="node" [ngStyle]="{'transform': calculateDeg(4)}">
      <img [ngStyle]="{'background':getBackground(4)}" src="../../../../assets/icons/Explain-orange.svg" alt="">
    </div>
    <div (click)="onClick(5)" class="node" [ngStyle]="{'transform': calculateDeg(5)}">
      <img [ngStyle]="{'background':getBackground(5)}" src="../../../../assets/icons/Deck-orange.svg" alt="">
    </div>
  </div>


</div>
