
<div class="add-chapter">

  <h1>Add New Chapter</h1>

  <form [formGroup]="chapterForm" (ngSubmit)="onSubmit()" class="form">
    <div class="inputField">
      <p>Title:</p>
      <div class="input">
        <input type="text" id="title" formControlName="title">
      </div>
    </div>

    <button type="submit" class="button add-chapter-button">Add</button>
  </form>

</div>

<div style="display: flex; justify-content:center;">
  <div class="routing-buttons">
    <a class="routing-button" (click)="onNav('Overview')">Overview</a>
    <a class="routing-button" (click)="onNav('Chapters')">Chapters</a>
    <a class="routing-button routing-button-active" >Add Chapter</a>
  </div>
</div>
