<div class="card-study-container">
  <h2 *ngIf="!showAnswer" class="field-type">Question</h2>
  <h2 *ngIf="showAnswer" class="field-type">Answer</h2>
  <div class="card">
    <div class="card-field" *ngIf="!showAnswer">
      <quill-view [content]="card.question" format="html"></quill-view>
    </div>

    <div class="card-field" *ngIf="showAnswer">
      <quill-view [content]="card.answer" format="html"></quill-view>
    </div>

    <button *ngIf="!showAnswer" class="button-show-answer" (click)="onToggle()">Show Answer</button>
    <button *ngIf="showAnswer" class="button-show-answer" (click)="onToggle()">Show Question</button>
  </div>
</div>
