<div class="circle-wrapper"
[ngStyle]="
{
  'height': diameter +'px',
  'width': diameter+'px',
  'background':'radial-gradient('+diameter+'px, #f08f538c, transparent 50%)'
}">

  <div class="middle-container">
    <!-- 25% progression -->
  </div>

  <div *ngFor="let node of nodes">
    <div class="circle-element"
    [ngStyle]="{'transform': calculateDeg(node)}"
    (click)="onClick(node)">
      <app-explain-node class="node-element" *ngIf="node.type == 'explain'" [explain]="node"></app-explain-node>
      <app-deck-node class="node-element" *ngIf="node.type == 'deck'" [deck]="node"></app-deck-node>
    </div>
  </div>
</div>
