
<div *ngIf="chapter" class="chapter-overview-container">
  <h1>{{chapter.title}}</h1>
  <div class="action-buttons">
    <button class="action-buttons__edit" (click)="onEdit()">Edit</button>
    <button class="action-buttons__delete" (click)="onDelete()">Delete</button>
  </div>
  <p>id: {{chapter.id}}</p>

  <div style="margin-top: 20px;">
    <a class="button" (click)="onCreateDeck()">Create deck</a>
    <a class="button" (click)="onCreateExplain()">Create Explain</a>
  </div>

  <div class="chapters">
    <div *ngFor="let node of chapter.nodes">
      <app-explain-list-overview  *ngIf="node.type == 'explain'" [explain]="node"></app-explain-list-overview>
      <app-deck-list-overview *ngIf="node.type == 'deck'" [deck]="node"></app-deck-list-overview>
    </div>
  </div>
</div>


