<div class="conatiner" *ngIf="deckId$ | async">

    <app-quill-show *ngIf="showExplain && (explain$|async) as explain" [content]="explain.text"></app-quill-show>

  <div class="add-card-container">
    <app-card-v2 [disableDelete]="true" (onChange)="onContentChange($event)"></app-card-v2>
    <button (click)="this.showExplain = !this.showExplain" class="show-explain-button">
      {{showExplain? 'Hide Explain':'Show Explain'}}
    </button>
    <button type="submit" class="button add-card-button" (click)="onSave()">Add</button>
  </div>


</div>


<div style="display: flex; justify-content:center;">
  <div class="routing-buttons">
    <a class="routing-button" (click)="onNav('Overview')">Overview</a>
    <a class="routing-button" (click)="onNav('Study')">Study</a>
    <a class="routing-button" (click)="onNav('Cards')">Cards</a>
    <a class="routing-button routing-button-active" (click)="onNav('AddCard')">Add Card</a>
  </div>
</div>
