// :Host{
//   width: 100%;
//   display: grid;

//   grid-template-columns: repeat(5, 1fr);
//   justify-items: center;
// }


// .my-roots-container{
//     display: grid;
//   grid-template-columns: repeat(5, 1fr);
// }

// .my-roots-container{
//   grid-column: 2/5;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

.sevenColLayout{
  // align-items: center;
  // justify-content: center;
  justify-items: stretch;
  // justify-items: stretch;
}

.my-roots-container{
  // display: grid;
  // grid-template-columns: 50% 50%;
  // width: 100%;
  display: flex;
  flex-direction: column;
  // align-items: center;
}

.roots{

  &__list{

    margin-top: 30px;
    // grid-column: 1/7;
    margin-bottom: 40px;

    display: grid;
    grid-template-columns: 45% 45%;
    gap: 15px;

    justify-content: center;
    // column-gap: 15px;
    // row-gap: 15px;
  }
  &__button{
    grid-column: 4;
    align-self: center;
  }
  &__list-item{
    // width: 680px;
    // width: 300px;
    // width: 100%;
    height: 150px;

    // box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    &:hover{
      transition: transform .2s;
      transform: scale(1.03);
    }
  }
}

.root-list{
  margin-bottom: 40px;
}
