
mat-sidenav-container{
  width: 100%;
  // height: calc(100% - 65px);
  height: 100%;
  background-color: #fff;
  // background-color: #F9F5EC;
  display: flex;
}
mat-sidenav{
  width: 240px;
  background-color: #F9F5EC;
}
mat-sidenav-content{
  width: 100%;
  min-width: 280px;

  position: relative;
}

.menu-button{
  cursor: pointer;
  position: absolute;
  top: 60px;
  left: 10px;
}

@media (min-width: 768px){
  .menu-button{
    top: 80px;
  }
}
