
mat-sidenav-container{
  width: 100%;
  height: calc(100% - 65px);
  background-color: #F9F5EC;
  display: flex;
}
mat-sidenav{
  width: 240px;
}
mat-sidenav-content{
  width: 100%;
  min-width: 280px;

  position: relative;
}

.menu-button{
  position: absolute;
  top: 17px;
  left: 10px;
}
