
mat-sidenav-container{
  width: 100%;
  height: 100%;
  // height: calc(100% - 65px);
  // background-color: #F9F5EC;
  background-color: #fff;
  display: flex;
}
mat-sidenav{
  width: 240px;
  background-color: #F6F5F0;
}
mat-sidenav-content{
  width: 100%;
  min-width: 280px;

  position: relative;
}

.menu-button{
  cursor: pointer;
  position: absolute;
  top: 80px;
  left: 10px;
}
