<div class="explain-overview">
  <app-quill-show *ngIf="!edit" [content]="explain.text" class="quill" (click)="onQuillClick()"></app-quill-show>
  <app-quill-edit *ngIf="edit" [content]="explain.text" (onContentChange)="onContentChange($event)" class="quill"></app-quill-edit>

  <div class="buttons">
    <button *ngIf="edit" class="button explain-save-button" (click)="onSave()">Save</button>
    <button *ngIf="edit" class="button explain-save-button" (click)="onCancel()">Cancel</button>
  </div>
</div>
